body {
    background-color: rgb(208, 201, 212);
}

.nav-link {
    color: black;
}

.emmy-border {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.emmy-center {
    margin-left: auto;
    margin-right: auto;
}

.emmy-width80 {
    width: 80%;
}

.emmy-paddding0 {
    padding: 0px;
}

.emmy-align-right {
    margin-left: auto;
    margin-right: 1px;
}

@media (min-width: 992px) { 
  .emmy-brand-right {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.emmy-navbar-container {
    width:80%;
    margin: 0 auto;
    position: relative;
}